* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   }

body{
   background-color: rgb(20, 8, 10);   
}

/*falta el campo de busqueda*/

.titulo{
   color: white; 
}

.logo{
   width: 100px; 
}

.imagen-logo{
   display: flex; 
   justify-content: flex-start;
}  

header{
   display: flex; 
   flex-direction: row;  
   justify-content: flex-start;   
   align-items: center; 
   justify-content: space-around; 
} 

.menu{ 
   display: flex; 
   flex-wrap: wrap;
   flex-direction: row;  
   justify-content: space-between; 
   align-items: center; 
   text-decoration: none;   
   padding-left: 50px;  
   padding-right: 50px; 

} 

a{
   text-decoration: none;
   color: white; 
}

.barra{
   color: white; 
}



